@model GameStore.Domain.Entities.ShippingDetails

@{
    ViewBag.Title = "GameStore: order form";
}

<h2>Make order now!</h2>
<p>Please, type your contact data and we will send order immediately!</p>


@using (Html.BeginForm())
{
    @Html.ValidationSummary();
    <h3>Contact data</h3>
    <div class="form-group">
        <label>Name:</label>
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <h3>Shipping address</h3>
    foreach (var property in ViewData.ModelMetadata.Properties)
    {
        if (property.PropertyName != "Name" && property.PropertyName != "GiftWrap")
        {
            <div class="form-group">
                <label>@(property.DisplayName ?? property.PropertyName)</label>
                @Html.TextBox(property.PropertyName, null, new { @class = "form-control" })
            </div>
        }
    }
    <div class="form-group">
        <label>City:</label>
        @Html.TextBoxFor(x => x.City, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Country:</label>
        @Html.TextBoxFor(x => x.Country, new { @class = "form-control" })
    </div>

    <h3>Optinons*</h3>
    <div class="checkbox">
        <label>
            @Html.EditorFor(x => x.GiftWrap)
            Should we use a gift package?
        </label>
    </div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Send order" />
    </div>
}